numpy
pandas
scipy
matplotlib
seaborn
sympy
requests
flask
django
sqlalchemy
pillow
pygame
networkx
scikit-learn
tensorflow
keras
torch
jupyter
notebook
ipython
beautifulsoup4
lxml
nltk
spacy
opencv-python
pyinstaller
black
isort
pytest
coverage
tox
click
pyyaml
cryptography
paramiko
boto3
ruamel.yaml
pydantic
fastapi
starlette
uvicorn
aiohttp
tornado
twisted
python-socketio
redis
celery
kombu
xmltodict
pytz
python-dateutil
arrow
plotly
altair
bokeh
dash
pygments
watchdog
psutil
pandas-profiling
scikit-image
kaleido
pdfkit
fpdf
reportlab
xlrd
openpyxl
snowflake-connector-python
pymongo
pyodbc
mysql-connector-python
psycopg2
scrapy
fabric
flask-login
flask-socketio
jinja2
itsdangerous
werkzeug
markupsafe
gunicorn
waitress
uvloop
orjson
httpx
fastjsonschema
marshmallow
sqlalchemy-utils
alembic
flower
sqlalchemy-migrate
sniffio
anyio
httpcore
packaging
humanize
tqdm
rich
colorama